.connectWallet :hover {
  background: "lightgray";
  cursor: "pointer";
}
.social-links {
  display: none;
  color: black;
  position: absolute;
  text-align: left;
  text-underline-offset: 2px;
  padding: 10px;
  width: 110px;
  top: 118px;
  margin-left: -18px;
  z-index: 100;
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
  background-color: white;
  border-radius: 2px;
}

.social-navlink:hover > .social-links {
  display: block;
}

.social-links a:visited {
  color: black;
}
.social-links a {
  display: block;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.social-links a:hover {
  color: white;
  background: black;
}
